//===============================================================/
//  Global Body
//===============================================================/

body {
   text-rendering: optimizeLegibility;

   * {
      box-sizing: border-box;
   }
}

//===============================================================/
//  Global Font Settings
//===============================================================/

h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-weight: normal;
}

h1 {
   font-size: 38px;
   margin: 0px auto 10px;
}

h2 {
   font-size: 32px;
}

h3 {
   font-size: 24px;
}

h4 {
   font-size: 18px;
}

h5 {
   font-size: 16px;
}

h6 {
   font-size: 12px;
}

p {
   margin: 0px auto calc(#{$gridSize} * 2);
   line-height: 1.5;
}

ul {
   padding: 0;
   margin: 0;

   li {
      list-style: none;
      padding: 0px;
      margin: 0 0 $gridSize 0;
   }
}

a {
   text-decoration: none;
}