//===============================================================/
//  Gradients
//===============================================================/

@mixin gradient($startColor: $body, $endColor: $white, $height: 1%) {
   background-color: $startColor;
   background: -webkit-gradient(linear,
         left top,
         left bottom,
         from($startColor) 50%,
         to($endColor) 50%);
   background: -webkit-linear-gradient(top, $startColor 50%, $endColor 50%);
   background: -moz-linear-gradient(top, $startColor 50%, $endColor 50%);
   background: -ms-linear-gradient(top, $startColor 50%, $endColor 50%);
   background: -o-linear-gradient(top, $startColor 50%, $endColor 50%);
}

@mixin horizontal-gradient($start-color: #555,
   $end-color: #333,
   $start-percent: 0%,
   $end-percent: 100%) {
   background-image: -webkit-linear-gradient(left,
         $start-color $start-percent,
         $end-color $end-percent ); // Safari 5.1-6, Chrome 10+
   background-image: -o-linear-gradient(left,
         $start-color $start-percent,
         $end-color $end-percent ); // Opera 12
   background-image: linear-gradient(to right,
         $start-color $start-percent,
         $end-color $end-percent );
}

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin vertical-gradient($start-color: #555,
   $end-color: #333,
   $start-percent: 0%,
   $end-percent: 100%) {
   background-image: -webkit-linear-gradient(top,
         $start-color $start-percent,
         $end-color $end-percent ); // Safari 5.1-6, Chrome 10+
   background-image: -o-linear-gradient(top,
         $start-color $start-percent,
         $end-color $end-percent ); // Opera 12
   background-image: linear-gradient(to bottom,
         $start-color $start-percent,
         $end-color $end-percent ); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
   background-repeat: repeat-x;
}

//===============================================================/
//  FLEX
//===============================================================/

@mixin flex(
   $direction: column,
   $align: center,
   $justify: center) {

   display: -webkit-flex;
   display:  flex;

   -webkit-flex-direction: $direction;
   flex-direction: $direction;

   -webkit-align-items: $align;
   align-items: $align;

   -webkit-justify-content: $justify;
   justify-content: $justify;
}

//===============================================================/
//  Helper
//===============================================================/
@mixin no_select() {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

@mixin clearfix() {

   &:before,
   &:after {
      content: ' ';
      /* 1 */
      display: table;
      /* 2 */
   }

   &:after {
      clear: both;
   }
}


@mixin placeholder($color: $input-color-placeholder) {
   &:-moz-placeholder {
      color: $color;
   }

   // Firefox 4-18
   &::-moz-placeholder {
      color: $color;
   }

   // Firefox 19+
   &:-ms-input-placeholder {
      color: $color;
   }

   // Internet Explorer 10+
   &::-webkit-input-placeholder {
      color: $color;
   }

   // Safari and Chrome
}


