/*
 __  __ _ _ _        _           _          ____  _             _ _       
|  \/  (_) | | _____| |__   __ _| | _____  / ___|| |_ _   _  __| (_) ___  
| |\/| | | | |/ / __| '_ \ / _` | |/ / _ \ \___ \| __| | | |/ _` | |/ _ \ 
| |  | | | |   <\__ \ | | | (_| |   <  __/  ___) | |_| |_| | (_| | | (_) |
|_|  |_|_|_|_|\_\___/_| |_|\__,_|_|\_\___| |____/ \__|\__,_|\__,_|_|\___/ 
________________________   Digital Everything   _________________________
*/

/* responsive sizes (mobile inclues tablet + phone) ******************************/

@mega:     ~'screen and (min-width: 1700px)';
@full:     ~'screen and (min-width: 1016px) ';
@tablet:   ~'screen and (max-width: 1015px) and (min-width: 768px)';
@phone:    ~'screen and (max-width: 767px)';
@mobile:   ~'screen and (max-width: 1015px)'; // includes tablet and phone
@retina: ~'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)';


